//
   Created by Salle on 12/6/15.

doctype html
html
   head
      link(rel='stylesheet', href='/stylesheets/style.css')
      .header
         .box1
            h1= title
         .box2
            name Salle J. Ingle
            address Colorado Springs, CO
            a(href='https://github.com/tekgirl77') GitHub :
            a(href='https://www.linkedin.com/in/salleingle') LinkedIn