//
   Created by Salle on 12/6/15.

.box3
   aside
      ul
         li
            a(href='/') Home
         br
         li
            a(href='/about') About
         br
         li
            a(href='some link') Blog
         br