//
   Created by Salle on 12/5/15.
extends layout

block article



   //img

//.container{
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
      width: 100%;
//}
   .grd some text
      .bg--light-gray
   .grd-row say something
      .grd-row-col just say something