extends layout


block article
        h2= 'Objective'
        br
        p.
          A technically savvy and innovative IT Engineer with years of experience
          involving leadership, networking, infrastructure, AWS, release management,
          full-stack web development and DevOps. Salle can be a strong driving force
          for improving performance, scalability and reliability. She has a long track
          record of learning any new technology thrown at her and providing long-term
          solutions to front- and back-end problems. She is a great communicator, very
          self-directed and self-managed, she is always pushing herself to deliver on-going
          process improvements. She is looking to make a difference with an enthusiastic
          team who enjoy what they do.
        br
        div
            h2 Employment History
            br

        div
            p(style='white-space:pre-wrap;')
                | <strong>Security Innovation (Boston, MA) - 100% Remote</strong>
                | <strong>DevOps / Customer Success Engineer - 2014-2015</strong>
            br
            p.
                Responsible for handling all eLearning client accounts in the Midwest, Mountain
                and Pacific regions. Solely responsible for managing “Safelight” AWS
                infrastructure and DevOps for approximately 30 Linux servers running Apache,
                open source Moodle eLearning applications hosting SCORM compliant courseware,
                and MySQL RDS databases.
            br
        div
            p <strong>Focus and Accomplishments:</strong>
                .box4
                    ul
                      li Implemented Auto-Scaling for high-availability, reliability and cost optimization.
                      li Oversaw migration of clients from Safelight Moodle open source systems to SaaS-hosted Absorb
                          | eLearning system.
                      li Reduced cost of remaining AWS infrastructure by 50%.
                      li DevOps scripting using JavaScript, Python, Boto, SQL, and AWS CLI for automation and optimization.
                      li Front- and Back-end development on Django framework using JavaScript, Python, HTML5, LESS, CSS3,
                        | JQuery and various modules as needed for customer engagement portal.
                      li Behavior / Test-Driven Full-Stack development on NodeJS framework using ExpressJS, JavaScript,
                        | Coffeescript, Grunt, AngularJS, NoSQL NeDB and GraphDB, Swagger.io, TravisCI, Docker, and a variety of NPM modules as needed for TEAM Mentor application security eknowledgebase.

        div
            p(style='white-space:pre-wrap;')
                | <strong>American Family Insurance - Madison, WI</strong>
                | <strong>DevOps / Release Management Consultant</strong>
            br
        div
            p(style='white-space:pre-wrap;')
                | <strong>Gateway Seekers - Madison, WI - Remote</strong>
                | <strong>Founder / Grant Consultant</strong>
            br
        div
            p(style='white-space:pre-wrap;')
                | <strong>WEA Trust - Madison, WI</strong>
                | <strong>Sr. IT Engineer / DevOps Manager</strong>
            br

