extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    name Salle J. Ingle
    address Colorado Springs, CO
    a(href='https://github.com/tekgirl77') GitHub Link

  div
    h2= 'Objective'

  div
    p.
      A technically savvy and innovative IT Engineer with years of experience
      involving leadership, networking, infrastructure, AWS, release management,
      full-stack web development and DevOps. Salle can be a strong driving force
      for improving performance, scalability and reliability. She has a long track
      record of learning any new technology thrown at her and providing long-term
      solutions to front- and back-end problems. She is a great communicator, very
      self-directed and self-managed, she is always pushing herself to deliver on-going
      process improvements. She is looking to make a difference with an enthusiastic
      team who enjoy what they do.
